* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f4f6fb;
}

.hero {
    width: 100%;
    height: 100vh;
    background-image: url("../img/imagen de portada.jpeg");
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.4);
}

.navbar {
    position: absolute;
    top: 0;                
    left: 0;
    width: 100%;
    background: linear-gradient(90deg, #0f9b8e, #0de40d);
    padding: 25px 0;      
    z-index: 2;
}

.container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: center;
}

.nav-menu {
    list-style: none;
    display: flex;
    gap: 40px;
   justify-content: center;
}

.nav-menu a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    transition: 0.3s;
}

.nav-menu a:hover {
    color: #000;
}

.hero h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 42px;
    text-align: center;
    z-index: 2;
}

@media (max-width: 600px) {

    .nav-menu {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .hero h1 {
        font-size: 26px;
        padding: 0 15px;
    }
}

